[submodule "src/ros2_control"]
	path = src/ros2_control
	url = https://github.com/cks2904/ros2_control.git
[submodule "src/ros2_control_cmake"]
	path = src/ros2_control_cmake
	url = https://github.com/cks2904/ros2_control_cmake.git
[submodule "src/ros2_controllers"]
	path = src/ros2_controllers
	url = https://github.com/cks2904/ros2_controllers.git
[submodule "src/ros2_kortex"]
	path = src/ros2_kortex
	url = https://github.com/cks2904/ros2_kortex.git
[submodule "src/ros2_robotiq_gripper"]
	path = src/ros2_robotiq_gripper
	url = https://github.com/cks2904/ros2_robotiq_gripper.git
[submodule "src/serial"]
	path = src/serial
	url = https://github.com/cks2904/serial.git
[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = git@github.com:brucewayne7777/realsense-ros.git
[submodule "src/librealsense-2.56.5"]
	path = src/librealsense-2.56.5
	url = git@github.com:brucewayne7777/librealsense.git
